# Ignore everything
*

# Allow specific
!/Makefile
!/build/*.xml
!/build/*.sql
!/build/*.sh
!/build/statshouse_env.yml
!/build/debian
!/cmd
!/internal
!/go.mod
!/go.sum
!/statshouse-ui
!/grafana-plugin-ui
!/localdebug/consul/*.sh
!/localdebug/consul/*.sql
!/localdebug/consul/*.xml

# Ignore sub-directories
/statshouse-ui/build
/statshouse-ui/node_modules
/grafana-plugin-ui/coverage
/grafana-plugin-ui/dist
/grafana-plugin-ui/node_modules
