/.idea/
/.vscode/

/target/
/statshouse
/statshouse-api
/statshouse-example
/statshouse-metadata

/cmd/statshouse-api/build/
/statshouse_api.pid
/statshouse_api_cache.db

node_modules/
.DS_Store
*.tmp
*.swp
*.o
