# Treat all files in the repo as binary, with no git magic updating
# line endings. This produces predictable results in different environments.

* -text

# https://github.com/github/linguist/blob/master/docs/overrides.md

/statshouse-ui/src/view/lib/**                   linguist-vendored
/statshouse-ui/public/openapi/*.js               linguist-vendored
/statshouse-ui/public/openapi/*.css              linguist-vendored
/internal/sqlite/internal/sqlite0/sqlite3.* linguist-vendored
/internal/data_model/gen2/**                      linguist-generated
