/* Copyright 2025 V Kontakte LLC
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

input.form-control-safari-fix::-webkit-datetime-edit {
  display: inline-flex;
}

input.form-control-safari-fix::-webkit-datetime-edit,
input.form-control-safari-fix::-webkit-datetime-edit-year-field,
input.form-control-safari-fix::-webkit-datetime-edit-month-field,
input.form-control-safari-fix::-webkit-datetime-edit-day-field,
input.form-control-safari-fix::-webkit-datetime-edit-hour-field,
input.form-control-safari-fix::-webkit-datetime-edit-minute-field,
input.form-control-safari-fix::-webkit-datetime-edit-second-field,
input.form-control-safari-fix::-webkit-datetime-edit-millisecond-field,
input.form-control-safari-fix::-webkit-datetime-edit-meridiem-field {
  padding: 0;
}

.no-tooltip-safari-fix:after {
  content: '';
  display: block;
}
