/* Copyright 2022 V Kontakte LLC
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/variables-dark';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/utilities/api';
@import '~bootstrap/scss/helpers';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/dropdown';

@import 'uplot/dist/uPlot.min.css';

:root {
  --golden-ratio: 1.61803398875;
  --plot-margin: 54px;
}

@media screen and (max-width: 767.98px) {
  :root {
    --plot-margin: 0;
  }
}

[data-bs-theme='dark'] {
  input,
  select,
  textarea {
    color-scheme: dark;
  }
}

html {
  overflow-y: scroll; // prevent layout shift when scrollbar appears
}

.font-normal {
  font-family: $font-family-sans-serif !important;
}

.build-version {
  font-size: 8px;
}

.faq-page {
  h5 {
    &:first-child {
      margin-top: 0.5rem;
    }

    &:not(:first-child) {
      margin-top: 1.5rem;
    }

    a {
      color: var(--bs-secondary);
    }
  }

  mark {
    font-family: $font-family-monospace;
    font-size: 0.875em;
    color: var(--bs-secondary-text);
    background-color: var(--bs-secondary-bg);
  }

  pre {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--bs-secondary-bg);
  }
}

.w-from-to {
  width: 4rem !important;
}

.flex-grow-1-5 {
  flex-grow: 1.5 !important;
}

.overflow-force-wrap {
  min-width: 0;
  overflow-wrap: break-word;
}

:root {
  --legend-name-width: 96px;
  --legend-value-width: 96px;
  --legend-percent-width: calc(
    var(--legend-dot-space-width) + var(--legend-dot-space-width) + var(--legend-percent-suffix-width)
  );
  --legend-max-host-width: 0;
  --legend-max-host-percent-width: 0;
  --legend-time-width: 136px;
  --legend-dot-space-width: 2.4em;
  --legend-percent-suffix-width: 1em;
}

.btn-outline-primary {
  --#{$prefix}btn-hover-bg: #{$blue-100};
  --#{$prefix}btn-hover-color: #{$primary};
}

.plot-compact {
  max-width: calc(min(100vw, 100vh * var(--golden-ratio)));
}

.plot-legend {
  padding-left: var(--plot-margin);
  padding-right: 20px;
  font-size: 14px;
}

.plot-compact .plot-legend {
  font-size: 12px;
}

.plot-full .plot-legend {
  padding-top: 16px;
}

.plot-view.plot-dash.plot-hover .plot-view-inner {
  position: relative;
  padding-top: 16px;
  top: -16px;
  background-color: var(--bs-body-bg);
  box-shadow: var(--bs-secondary-bg) 0 0 10px 0px;
}

.plot-item:hover {
  z-index: 1000;
}

code {
  color: var(--bs-body-color);
  font-weight: bold;
}

input.form-control-safari-fix::-webkit-datetime-edit {
  display: inline-flex;
}

input.form-control-safari-fix::-webkit-datetime-edit,
input.form-control-safari-fix::-webkit-datetime-edit-year-field,
input.form-control-safari-fix::-webkit-datetime-edit-month-field,
input.form-control-safari-fix::-webkit-datetime-edit-day-field,
input.form-control-safari-fix::-webkit-datetime-edit-hour-field,
input.form-control-safari-fix::-webkit-datetime-edit-minute-field,
input.form-control-safari-fix::-webkit-datetime-edit-second-field,
input.form-control-safari-fix::-webkit-datetime-edit-millisecond-field,
input.form-control-safari-fix::-webkit-datetime-edit-meridiem-field {
  padding: 0;
}

.sh-select {
  --selectLoaderColor: var(--bs-cyan);
}

.sh-select.select-open {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.blink {
  animation: blinker 10s ease infinite;
}

@keyframes blinker {
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-close_tab {
  margin: 1px;
  box-sizing: border-box;
  height: calc(100% - 1px);
}

.hidden-dashboard {
  z-index: -1000;
  position: absolute;
  opacity: 0;
  left: -200%;
  top: -200%;
  width: 100%;
  pointer-events: none;
}

.w-0 {
  width: 0;
}

.h-0 {
  height: 0;
}

.z-1000 {
  z-index: 1000;
}

.z-100 {
  z-index: 100;
}

.z-10 {
  z-index: 10;
}

@keyframes show-delay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show-delay {
  animation: show-delay 1s 0s step-end 1;
}

.w-max-540 {
  max-width: 540px;
}

.w-max-720 {
  max-width: 720px;
}

.min-h-auto {
  min-height: auto;
}

@include media-breakpoint-down(md) {
  .hidden-down-md {
    display: none;
  }
}

.spinner-white-bg {
  box-shadow: rgba(var(--bs-body-bg-rgb), 0.5) 0 0 4px 4px;
  background-color: rgba(var(--bs-body-bg-rgb), 0.5);
}
