/* Copyright 2025 V Kontakte LLC
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.popperGroup {
  --popper-inner-height: auto;
  --popper-inner-width: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1050;
}
.popperGroupFixed {
  position: fixed;
}

.popperItem {
  position: absolute;
  pointer-events: none;
  /*background-color: rgba(255, 0, 0, 0.5);*/
}

.pointerNone .popperItemInner {
  pointer-events: none;
}

.popperItemInner {
  position: absolute;
  pointer-events: auto;
  /*background-color: rgba(0, 255, 0, 0.5);*/
  max-height: var(--popper-inner-height);
  max-width: var(--popper-inner-width);
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.middle {
  top: 50%;
  transform: translate(0, -50%);
}

.out-top {
  bottom: 100%;
}

.out-bottom {
  top: 100%;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.center {
  left: 50%;
  transform: translate(-50%, 0);
}

.out-left {
  right: 100%;
}

.out-right {
  left: 100%;
}

.middle.center {
  transform: translate(-50%, -50%);
}

/** Select component */
.select {
  display: flex;
  flex-direction: row;
  /*justify-items: center;*/
  align-items: center;
  position: relative;
  /*left: 0;*/
  /*top: 0;*/
  outline: none 0 !important;
  color: inherit;
  width: 100%;
}

.selectFocus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.selectSearchInput {
  width: 0;
  flex-grow: 1;
  display: inline-block;
  background-image: none;
  border: solid 0 transparent;
  outline: none 0;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  background-color: inherit;
  color: inherit;
}

.selectSearchChevron {
  display: inline-block;
  position: relative;
  padding: 0.25em 0.5em 0.25em 0.5em;
  margin: -0.25em -0.5em -0.25em 0;
  background-color: inherit;
  border-radius: inherit;
  border: none 0;
}

.selectPopper {
  min-width: 100%;
}

.selectDropdown {
  --selectItemHeight: 30px;
  --selectItemDisabled: var(--bs-tertiary-color);
  --selectItemChecked: var(--bs-primary-bg-subtle);
  --selectItemCursor: var(--bs-secondary-bg);
  --selectItemCursorChecked: var(--bs-primary-border-subtle);
  display: flex;
  flex-direction: column;
}

.selectList {
  border-radius: inherit;
}

.selectList {
  /*--scroll-size: 8px;*/
  -webkit-overflow-scrolling: touch;
  /*scrollbar-width: thin;*/
  /*scrollbar-gutter: auto;*/
}
.selectList::-webkit-scrollbar {
  /*height: var(--scroll-size);*/
  /*width: var(--scroll-size);*/
  /*background: transparent;*/
}
.selectList::-webkit-scrollbar-thumb {
  /*background: var(--bs-tertiary-color);*/
  /*border-radius: calc(var(--scroll-size) / 2);*/
}
.selectList::-webkit-scrllbar-track {
  /*background: transparent;*/
}
.selectList::-webkit-scrollbar-corner {
  /*background-color: var(--bs-tertiary-color);*/
}

.selectItem {
  height: var(--selectItemHeight);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px 8px;
  box-sizing: border-box;
}

.selectChecked {
  background-color: var(--selectItemChecked);
}

/*.selectItem:hover,*/
.selectCursor {
  background-color: var(--selectItemCursor);
}

/*.selectChecked:hover,*/
.selectCursor.selectChecked {
  background-color: var(--selectItemCursorChecked);
}
/** Select component end */

.hoverVisible {
  visibility: hidden;
}

.selectItem:hover .hoverVisible {
  visibility: visible;
}

.selectCursor .hoverVisible {
  visibility: visible;
}

.dialogWrapper{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.dialogBackground{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

