[Unit]
Description=StatsHouse balancer daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/share/engine/bin/statshouse-balancer
Restart=always
RestartSec=3s

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
MemoryDenyWriteExecute=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM

[Install]
WantedBy=multi-user.target
