.plotLegend {
  min-height: calc(var(--bs-body-line-height) + var(--bs-body-line-height));
  overflow: auto;
}

.plotLegendShort {
  min-height: var(--bs-body-line-height);
  height: var(--bs-body-line-height);
}
