/* Copyright 2022 V Kontakte LLC
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

:root {
  --headerMenuColorBg: var(--bs-tertiary-bg);
  --headerMenuSubColorBg: var(--bs-body-bg);
  --headerMenuSubColorBorder: var(--bs-secondary-bg);
  --headerMenuColorBorder: var(--bs-secondary-bg);
  --headerActiveMenuSubColorBg: var(--bs-primary);
  --headerActiveMenuColorBorder: var(--bs-primary);
}

.navOuter {
  height: 100vh;
  background-color: var(--headerMenuColorBg);
  max-width: 60px;
}
.plotNav {
  padding: 1px 0;
  width: 100%;
  border-right: var(--bs-border-width) var(--bs-border-style) var(--headerActiveMenuColorBorder);
}
.plotMenu {
  width: calc(100% + var(--bs-border-width));
}

.nav {
  --bs-nav-link-padding-x: 18px;
  --bs-nav-link-padding-y: 11px;
}

.mainNav {
  border-right: var(--bs-border-width) var(--bs-border-style) var(--headerActiveMenuColorBorder);
}

.sub {
  min-width: 8rem;
  background-color: var(--headerMenuSubColorBg);
  box-shadow: var(--headerMenuSubColorBorder) 0 0 10px 0px;
  border: 1px solid var(--headerMenuSubColorBorder);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.spacer {
  flex-grow: 1;
}

.splitter {
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--headerMenuColorBorder);
  margin: 1px 0.25rem;
}

.plotItem {
  transform: translate3d(0, 0, 0);
  margin-bottom: -1px;
  width: 100%;
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--headerMenuColorBorder);
  border-top: var(--bs-border-width) var(--bs-border-style) var(--headerMenuColorBorder);
}
.plotItem:last-child {
  margin-bottom: 0;
}

.activePlotItem {
}

.activeItem {
  width: calc(100% + var(--bs-border-width));
  background-color: var(--headerMenuSubColorBg);
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--headerActiveMenuColorBorder);
  border-top: var(--bs-border-width) var(--bs-border-style) var(--headerActiveMenuColorBorder);
  border-left: var(--bs-border-width) var(--bs-border-style) var(--headerActiveMenuColorBorder);
  border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-body-bg);
  z-index: 1;
  margin-bottom: -1px;
  margin-top: -1px;
  margin-left: -1px;
  left: 1px;
}

.preview {
  display: block;
  height: 37px;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.preview403 {
  padding: 7px var(--bs-nav-link-padding-x) 6px;
}

.previewEvent {
}

.bigPreview {
  width: 300px;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.news {
  left: 5px;
}

.secondDanger {
  --bs-secondary-rgb: var(--bs-danger-rgb);
}
.scrollStyle {
  --scroll-size: 0px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.scrollStyle::-webkit-scrollbar {
  height: var(--scroll-size);
  width: var(--scroll-size);
  background: transparent;
}
.scrollStyle::-webkit-scrollbar-thumb {
  background: var(--bs-tertiary-color);
  border-radius: calc(var(--scroll-size) / 2);
}
.scrollStyle::-webkit-scrollbar-track {
  background: transparent;
}
.scrollStyle::-webkit-scrollbar-corner {
  background-color: var(--bs-tertiary-color);
}

@media screen and (max-width: 767.98px) {
  .nav {
    --bs-nav-link-padding-x: 12px;
    --bs-nav-link-padding-y: 8px;
  }
  .preview {
    height: 25px;
    width: 48px;
    margin-top: 8px;
    margin-bottom: 7px;
  }
  .news {
    left: 2px;
  }
}
