CREATE TABLE IF NOT EXISTS {{.NamePrefix}}{{.Resolution}}{{.NamePostfix}}_dist ON CLUSTER {{.Cluster}}
{{template "table-schema.go.tmpl" .Schema -}}
ENGINE = Distributed('{{.Cluster}}', 'default', '{{.NamePrefix}}{{.Resolution}}{{.NamePostfix}}');
