CREATE TABLE IF NOT EXISTS {{.IncomingTable.NamePrefix}}{{.IncomingTable.NamePostfix}} ON CLUSTER {{.IncomingTable.Cluster}}
{{template "table-schema.go.tmpl" .IncomingTable.Schema -}}
ENGINE = Null;

{{range $table := .Tables }}
{{template "resolution-tables.go.tmpl" $table }}
{{end}}

