CREATE TABLE IF NOT EXISTS {{.NamePrefix}}{{.Resolution}}{{.NamePostfix}}_dist ON CLUSTER {{.Cluster}}
{{template "table-schema.go.tmpl" .Schema -}}
ENGINE = Distributed('{{.Cluster}}', 'default', '{{.NamePrefix}}{{.Resolution}}{{.NamePostfix}}');

CREATE TABLE IF NOT EXISTS {{.NamePrefix}}{{.Resolution}}{{.NamePostfix}} ON CLUSTER {{.Cluster}}
{{template "table-schema.go.tmpl" .Schema -}}
ENGINE = ReplicatedAggregatingMergeTree('/clickhouse/tables/{shard}/{table}', '{replica}')
{{.Partition}}
{{template "table-order.go.tmpl" .Schema -}}
{{.TTL}}
{{.Settings}}
;

CREATE MATERIALIZED VIEW IF NOT EXISTS {{.NamePrefix}}{{.Resolution}}{{.NamePostfix}}_matview ON CLUSTER {{.Cluster}} TO {{.NamePrefix}}{{.Resolution}}{{.NamePostfix}}
{{template "table-schema.go.tmpl" .Schema -}}
AS SELECT
    `index_type`,
    `metric`,
    `pre_tag`,
    `pre_stag`,

    {{if eq .Resolution "1s" -}}
    `time`,
    {{- else if eq .Resolution "1m" -}}
    toStartOfInterval(time, toIntervalMinute(1)) AS `time`,
    {{- else if eq .Resolution "1h" -}}
    toStartOfInterval(time, toIntervalHour(1)) AS `time`,
    {{- end}}

	{{range $i := .Schema.BasicTags }}
    `tag{{$i}}`,
    `stag{{$i}}`,
	{{- end}}
    `count`,
    `min`,
    `max`,
    `max_count`,
    `sum`,
    `sumsquare`,
    `min_host`,
    `max_host`,
    `max_count_host`,
    `percentiles`,
    `uniq_state`
FROM {{.SelectFrom}}
WHERE (toDate(time) >= (today() - 3)) 
    AND (toDate(time) <= (today() + 1))
;

