CREATE TABLE IF NOT EXISTS {{.NamePrefix}}_{{.Resolution}}_{{.NamePostfix}}_dist ON CLUSTER {{.Cluster}}
{{template "table-schema.go.tmpl" .Schema -}}
ENGINE = Distributed('{{.Cluster}}', 'default', '{{.NamePrefix}}_{{.Resolution}}_{{.NamePostfix}}');

CREATE TABLE IF NOT EXISTS {{.NamePrefix}}_{{.Resolution}}_{{.NamePostfix}} ON CLUSTER {{.Cluster}}
{{template "table-schema.go.tmpl" .Schema -}}
ENGINE = ReplicatedAggregatingMergeTree('/clickhouse/tables/{shard}/{table}', '{replica}')
{{.Partition}}
{{template "table-order.go.tmpl" .Schema -}}
{{.TTL}}
{{.Settings}}
;

CREATE MATERIALIZED VIEW IF NOT EXISTS {{.NamePrefix}}_{{.Resolution}}_{{.NamePostfix}}_matview ON CLUSTER {{.Cluster}} TO {{.NamePrefix}}_{{.Resolution}}_{{.NamePostfix}}
{{template "table-schema.go.tmpl" .Schema -}}
AS SELECT
    `metric`,
    {{if .Schema.Prekey -}}
    `prekey`,
    {{- end}}
    {{if eq .Resolution "1s" -}}
    `time`,
    {{- else if eq .Resolution "1m" -}}
    toStartOfInterval(time, toIntervalMinute(1)) AS `time`,
    {{- else if eq .Resolution "1h" -}}
    toStartOfInterval(time, toIntervalHour(1)) AS `time`,
    {{- end}}
	{{range $t := .Schema.BasicTags }}
    `key{{$t.Index}}` ,
    {{if $t.StringValue -}} `skey{{$t.Index}}`, {{- end}}
	{{- end}}
	{{range $i := .Schema.RawTags }}
    `rkey{{$i}}`,
	{{- end}}
    {{if .Schema.HostTag}}
    `host`,
	{{- end}}
    `skey`,
    `count`,
    `min`,
    `max`,
    `sum`,
    `sumsquare`,
    `min_host`,
    `max_host`,
    `percentiles`,
    `uniq_state`
FROM {{.SelectFrom}}
WHERE (toDate(time) >= (today() - 3)) AND 
    (toDate(time) <= (today() + 1)) AND 
    {{if .Schema.Prekey -}}
    (prekey_set > 0)
    {{else}}
    (prekey_set != 2)
    {{- end}}
;

