(
    -- 1 means pre_tag index, 0 main index
    `index_type` UInt8,
    `metric` Int32,
    `pre_tag` UInt32,
    `pre_stag` String,
    `time` DateTime,

	{{range $i := .BasicTags }}
    `tag{{$i}}` Int32,
    `stag{{$i}}` String,
	{{- end}}

    `count` SimpleAggregateFunction(sum, Float64),
    `min` SimpleAggregateFunction(min, Float64),
    `max` SimpleAggregateFunction(max, Float64),
    `max_count` SimpleAggregateFunction(max, Float64),
    `sum` SimpleAggregateFunction(sum, Float64),
    `sumsquare` SimpleAggregateFunction(sum, Float64),
    `min_host` AggregateFunction(argMin, String, Float32),
    `max_host` AggregateFunction(argMax, String, Float32),
    `max_count_host` AggregateFunction(argMax, String, Float32),
    {{if .InputTable -}}
    `min_host_legacy` AggregateFunction(argMin, Int32, Float32),
    `max_host_legacy` AggregateFunction(argMax, Int32, Float32),
    {{- end}}
    `percentiles` AggregateFunction(quantilesTDigest(0.5), Float32),
    `uniq_state` AggregateFunction(uniq, Int64)
)
