PRIMARY KEY (
    `metric`,
    {{if .Prekey -}}
    `prekey`,
    {{- end}}
    `time`,
)
ORDER BY (
    `metric`,
    {{if .Prekey -}}
    `prekey`,
    {{- end}}
    `time`,
	{{range $t := .BasicTags }}
    `key{{$t.Index}}`, 
    {{if $t.StringValue -}} `skey{{$t.Index}}`, {{- end}}
	{{- end}}
	{{range $i := .RawTags }}
    `rkey{{$i}}`,
	{{- end}}
    {{if .HostTag}}
    `host`,
	{{- end}}
    `skey`
)
