(
    -- 1 means pretag index
    `index_type` UInt8,
    {{if .InputTable -}} `write_flags` UInt8, {{- end}}
    `metric` Int32,
    `pre_tag` UInt64,
    `pre_stag` String,
    `time` DateTime,

	{{range $i := .RawTags }}
    `rtag{{$i}}` UInt64,
	{{- end}}
	{{range $i := .BasicTags }}
    `tag{{$i}}` Int32,
    `stag{{$i}}` String,
	{{- end}}
    -- bitfield that shows whether given tag is mapped id or raw int32 value
    `raw_flags` UInt64,

    `count` SimpleAggregateFunction(sum, Float64),
    `min` SimpleAggregateFunction(min, Float64),
    `max` SimpleAggregateFunction(max, Float64),
    `max_count` SimpleAggregateFunction(max, Float64),
    `sum` SimpleAggregateFunction(sum, Float64),
    `sumsquare` SimpleAggregateFunction(sum, Float64),
    `min_host` AggregateFunction(argMin, String, Float32),
    `max_host` AggregateFunction(argMax, String, Float32),
    `max_count_host` AggregateFunction(argMax, String, Float32),
    `percentiles` AggregateFunction(quantilesTDigest(0.5), Float32),
    `uniq_state` AggregateFunction(uniq, Int64)
)
