/* Copyright 2022 V Kontakte LLC
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.pointerEventsNone {
  pointer-events: none;
}
.cursorMove {
  cursor: grab;
}

.cursorDrag {
  cursor: grabbing;
}
.cursorDefault {
  cursor: default;
}

.dashRowSize_2 {
  width: calc(min(100%, 1320px) / 2);
}
.dashRowSize_3 {
  width: calc(min(100%, 1320px) / 3);
}
.dashRowSize_4 {
  width: calc(min(100%, 1320px) / 4);
}
.dashRowSize_l {
  width: calc(min(100%, 1320px) / 2);
}
.dashRowSize_m {
  width: calc(min(100%, 1320px) / 3);
}
.dashRowSize_s {
  width: calc(min(100%, 1320px) / 4);
}

.dashRowWidth {
  --base-cols: 2;
  --max-cols: 2;
  --width-col: calc(1320px / var(--base-cols));
  max-width: calc(var(--width-col) * var(--max-cols));
}
