/* Copyright 2024 V Kontakte LLC
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.markdown {
  margin: 0;
}

.markdown * {
  margin: 0;
}

.markdownPreview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  width: 0;
}

.markdownPreview *{
  display: inline;
}
