on:
  pull_request:
    branches:
      - master
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'

jobs:
  staticcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
          cache: true
      - uses: dominikh/staticcheck-action@v1.3.0
        with:
          install-go: false  # Go is already installed by setup-go
          version: "v0.6.1"

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
          cache: true
      - run: go test -v -race -parallel 8 ./...
