.plotViewMetric {
  position: relative;
  /*width: 100%;*/
  /*z-index: 1;*/
  /*height: 100%;*/
  /*padding-top: calc(100% / var(--golden-ratio));*/
  /*max-height: 100%;*/
  /*--plot-padding-top: 8px;*/
}

.plotViewMetricInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
